/* Enter Your Custom CSS Here */

div.col-sm-4.col-lg-4.form_field_wrap.contact_subject_wrap.pirate_forms_three_inputs {
	display: none;
}

#footer-inner {
	padding: 70px 0 0px;
}

#islemag_content_ad-widget-3.widget.islemag_content_ad {
	margin-left: 100px;
}